<div id="group_permissions" class="modal">
  <%= simple_form_for @permission, :url => admin_group_permission_path(@group) , :html => {:method => :put, :class => 'form-horizontal' , :onsubmit => "return validate();" } do |f| %>
    <div class="modal-header">
      
      <h3>Create Group Permissions</h3>
    </div>
    <div class="modal-body">
      <div class =  'control-group'>
      <%=  f.input :joobs_model_name , :collection => {"Job Management" => "Job" , "Resume Management" => "Resume"}, :label => "Module",  :label_html => { :class => 'control-label' , :style => "width:62px;margin-right: 20px;" } ,  :input_html => { :class => 'controls' , :style => "margin-left:40px;" } , :required => true %>
      <%= f.input :group_id , :as => :hidden , :input_html => {:value => @group.id} %>
      <label class="control-label" style="width:auto;margin-right: 21px;margin-left: 15px;margin-top: 5px;">Permissions : </label>
      <%=  f.collection_radio_buttons :m , [['manage', 'All'] ,['','Limited']] , :first , :last , :item_wrapper_class => 'radios' %>
      <div class="perms" style ="padding-left:121px;">
        <span class="error" style="display:none;">Select atleast one of the following permissions</span>
         <%= render(:partial => "permissions" , :locals => {:f => f}) %>
         <%= f.input :limited , :as => :hidden , :input_html => {:value => ""} %>
      </div>
        
      </div>
      </div>
    <div class="modal-footer">
      <%= f.submit "Create", :class => "btn" %>
     
    </div>
  <% end %>
</div>
