
<br/>
<div>
  

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

   <dl class="zend_form">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<br/>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :email, :label_html => { :class => 'text-fields' }, :required => true, :autofocus => true %>
    <%= f.input :password, :label_html => { :class => 'text-fields' }, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :label_html => { :class => 'text-fields' }, :required => false %>
    <%= f.input :current_password, :label_html => { :class => 'text-fields' }, :hint => "<br\>we need your current password to <br\> confirm your changes", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
   </dl>
</div>
