<div class="span8">
<div class="page-header">
  <h2>
        <%= @job.title %> <span class="lighterSmall"> at </span>
	<%= @job.company %> <span class="lighterSmall"> in </span>
        <%= @job.location %>
  </h2>
</div>
<div id="jobContent" style="text-align: left;">
  <h2>Description:</h2>
  <%= @job.description %>
   <h2>To apply:</h2>
   <%= @job.to_apply %>
</div>
<% if user_signed_in? && current_user.has_role?(:employer)  %>
 <a class="btn btn-success btn-small" href="<%= applied_resumes_job_path(@job) %>"> List of Applied Profiles </a>
<% elsif  user_signed_in? && current_user.has_role?(:jobseeker) %>
 <a class="btn btn-success btn-small" href="<%= apply_resume_path(@job) %>"> Apply </a>
<% end %>
</div>