<div class="list">

  <% Category.all.each do |cat| %>
  <% if cat.approved_jobs.count > 0 %>
  <div class="inner">
    <div class="toRight">
      <a href="/rss/category/<%=cat.name%>/">RSS</a>
      <a href="/rss/category/<%=cat.name%>/"><%= image_tag("joobsbox/icon-rss.gif" , :alt => "RSS") %></a>
    </div>
    <a href="/category/<%=cat.name%>.html"><%=cat.name%></a>
  </div>
  <ul>
    <% cat.approved_jobs.each do |job|%>
    <li >
      <a href="<%=job_path(job)%>"><%= job.title %></a>
      <span class="lighterSmall"> at </span><%= job.company %>
      <span class="lighterSmall"> in </span><%= job.location %>
    </li>
    <% end %>
  </ul>
  <% end %>
  <% end %>  
</div>