<% theme = Theme.current_theme.first %>

<h1 class="dashboard-title">Themes</h1>

<div class="current-theme">
  <h2>Current theme</h2>
 

  <%= image_tag(theme.template_screen_shot , :class => "current-screenshot") %>

  <div class="info">
    <strong><%= theme.name %></strong>
  </div>

  <div style="clear: both"></div>
</div>

<div class="available-themes">
  <h2>Available themes</h2>
  <table class="available-themes">
    <tbody>
      <% Theme.available_themes.each  do |theme|%>
      <tr>
        <td>
          <%= image_tag(theme.template_screen_shot , :class => "theme-screenshot") %>
         <br/>
          <strong><%= theme.name %></strong>
          <%= form_for "theme", :url => admin_theme_path(theme) , :html => { :method => "put"} do |f| %>
            <input class="activateButton" name="activate" value="Activate" type="submit"/>
            <!--<input class="deleteButton" name="delete" value="Delete" type="submit"> -->
           
         <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


Your current admin theme is: <strong><%= theme.name %></strong>


<%= stylesheet_link_tag    "admin/themes/themes.css", :media => "screen" %>
<%= stylesheet_link_tag    "js/lib/jquery-ui/css/cupertino/jquery-ui-1.7.1.custom.css", :media => "screen" %>



<%= javascript_include_tag "admin/themes/themes.js" %>
<%= javascript_include_tag "js/lib/jquery-ui/js/jquery-ui-1.7.custom.min.js" %>


