<%= stylesheet_link_tag    "admin/settings/settings.css", :media => "all" %>

<h1 class="dashboard-title">Settings</h1>
<div class="joobsbox-plugin-content">
  <%= simple_form_for([:admin , @setting], :html => { :id  => "formPublish"}) do |f| %>
    <dl class="zend_form">
      <dt id="general-label">&nbsp;</dt>
      <dd id="general-element">
        <fieldset id="fieldset-general"><legend>General</legend>
          <dl>
            <%= f.input :jobs_per_cat, :label => "#Jobs per category (homepage)", :input_html => {:class => "fields"},:label_html => { :class => 'text-fields' }, :required => true %>
            <%= f.input :site_title, :input_html => {:class => "fields"},:label_html => { :class => 'text-fields' }, :required => true %>
            <%= f.input :job_expr_date_days, :label => "Job time to live (days)", :input_html => {:class => "fields"},:label_html => { :class => 'text-fields' }, :required => true %>
            <%= f.input :timezone ,:input_html => {:class => "fields"},  :collection =>  Setting.time_zones, :prompt => "Choose...",:label_html => { :class => 'text-fields' }, :required => true %>
          </dl>
        </fieldset>
      </dd>
      <dt id="rss-label">&nbsp;</dt>
      <dd id="rss-element">
        <fieldset id="fieldset-rss"><legend>Rss</legend>
          <dl>
            <%= f.input :rss_in_gen, :label => "Number of jobs in general RSS feed", :input_html => {:class => "fields"},:label_html => { :class => 'text-fields' }, :required => true %>
            <%= f.input :rss_per_cat, :label => "Number of jobs per category feed", :input_html => {:class => "fields"},:label_html => { :class => 'text-fields' }, :required => true %>
          </dl>
        </fieldset>
      </dd>
      <dt id="submit-label">&nbsp;</dt>
      <dd id="submit-element">
        <%= f.button :submit, "Set" %>
      </dd>
    </dl>
  <% end %>
</div>
