<table class="roles">
  <thead>
    <tr>
      <th>SNO</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% groups.each_with_index do |group,i| %>

      <tr id="group_<%= group.id %>" class="job">
        <td><%= i+1 %></td>
        <td><%= best_in_place group, :name , :path => [:admin,group]%></td>
        <td><%= group.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to "Add Users" , users_admin_group_path(group) %> | &nbsp;
        <%= link_to "Add Permissions" , admin_group_permission_path(group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" >
  $(function(){
      $('.best_in_place').best_in_place();
  });
</script>