<h1>Resumes</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th>SNo</th>
    <th>Skills</th>
    <th>Resume Title</th>
    <th>Resume</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <% @resumes.each_with_index do |rs,i| %>
    <tr <% if rs.status %>  class="success" <% end %>  >
      <td><%= rs.id  %></td>
      <td><%= rs.key_skills %></td>
      <td><%= rs.resume_title %></td>
      <td><%= link_to rs.filename , rs if !rs.attachment.blank? %></td>
      <td><%= rs.status ? "Active" : "Inactive" %></td>
      <td><%= button_to  "Delete Resume", rs, :confirm => "Are you sure you want to delete this resume", :method => :delete if can? :destroy, rs %></td>

    </tr>
    <% end %>
  </tbody>

</table>