<div class="span8">
  <div class="page-header"><h1>Resumes</h1></div>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Skills</th>
    <th>Resume Title</th>
   
    <th>Status</th>
    <th colspan="4" style="text-align: center;">Action</th>
  </tr>
  </thead>
  <tbody>
    <% @resumes.each_with_index do |rs,i| %>
    <tr>
      <td><%= i + 1  %></td>
      <td><%= rs.key_skills %></td>
      <td><%= rs.resume_title %></td>     
      <td><%= rs.status ? "Active" : "Inactive" %></td>
       <td><%= link_to 'View' , rs , :class => "btn btn-success" if !rs.attachment.blank? %></td>
       <td><%= link_to 'Edit' , edit_resume_path(rs) , :class => "btn btn-success" if !rs.attachment.blank? %></td>
      <td><%= link_to 'Download' , download_resume_path(rs) , :class => "btn btn-success " if !rs.attachment.blank? %> </td>
      <td>
        <%=  button_to  "Delete", {:action => 'destroy' , :id =>rs.id},  :confirm => "Are you sure you want to delete this resume", :method => :delete , :class => "btn btn-danger" if can? :destroy, rs %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
</div>