<%#= stylesheet_link_tag    "joobsbox/publishForm.css", :media => "all" %>
<div class="span8">
<div class="page-header">
  <h1>Post a Resume</h1>
</div>


<%= simple_form_for(@resume , :html => { :class=>"form-horizontal" , :multipart => true}) do |f| %>

     <%= f.error_notification %>
<fieldset>
    <legend>Personal Details </legend>
    <hr/>
    <div class="control-group">
    <%= f.input :nationality ,:input_html => {:class => "controls"}, :label_html => {:class => "control-label"}, :collection =>  Resume.nationalities, :prompt => "Choose...", :required => true, :autofocus => true %>
    
    </div><div class="control-group">
      <%= f.input :current_location, :input_html => {:class => "controls"},:label_html => {:class => "control-label"}, :required => true , :collection => Resume.current_loactions, :prompt => "Choose..." %>
    
    </div><div class="control-group">
  <%= f.input :mobile_number ,:input_html => {:class => "controls"},:label_html => {:class => "control-label"}, :required => false %>
    </div>
    <div class="control-group"><label class="control-label"></label><div class = "controls">Or</div></div>
   <div class="control-group">
  <%= f.input :landline, :input_html => {:class => "controls"}, :label_html => {:class => "control-label"}, :required => false %>
    </div>
    <div class="control-group">
  <%= f.input :gender,:collection =>['Male','Female'], :as => :radio_buttons, :label_html => {:class => "control-label"},:input_html => {:class => "controls"}, :required => true %>
    </div>
</fieldset>

<fieldset>
    <legend>Professional Details </legend>
<hr/>
     <div class="control-group">
    <label class = "control-label">Total experience</label>
    <%= f.input :total_experience_yrs,:label => false,  :prompt => "Years",:collection => 1..50 , :required => true ,:input_html => {:style => "float: left;margin-left: 210px;margin-right: 15px;width: 104px;" , :class => "controls" } , :error_html => { :class => 'year_error'}%>
    <%= f.input :total_experience_mns,:label => false, :prompt => "Months", :collection => 0..11 , :input_html => {:class => "fields",:style => "margin-left: -175px;width: 100px;" },  :required => true , :error_html => { :class => 'month_error'} %>
     </div> <div class="control-group">
  <%= f.input :current_industry, :collection => Resume::INDUSTRIES , :input_html => {:class => "controls"},:label_html => {:class => "control-label"},  :required => true %>
  </div> <div class="control-group">
  <%= f.input :key_skills, :input_html => {:class => "controls"},:label_html => {:class => "control-label"},  :required => true %>
  </div>
</fieldset>

  <fieldset>
    <legend>Resume Details </legend>
    <hr/>
     <div class="control-group">
    <%= f.input :resume_title, :input_html => {:class => "controls"}, :label_html => {:class => "control-label"}, :required => true %>
  </div> <div class="control-group">
  <%= f.input :attachment, :as => :file, :input_html => {:class => "controls"}, :label_html => {:class => "control-label"}, :required => true %>
  </div>
  </fieldset>
   <div class="control-group">
    By Clicking the submit button, you are agree to Career Hub privacy statement and terms of use
    <%= f.input :user_id,:as => :hidden , :input_html => {:value => current_user.id} %>
  </div>
 <div class="control-group">
    <%= f.submit "Submit" , :class => "btn btn-primary" %>
 </div>

<% end %>
</div>


<style type="text/css">
  .collection_radio_buttons {
    float: left;
    margin-top: 3px;
    padding-left: 5px;
  }

  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 207px;
  }

  .error{
   color: #B94A48;;
    float: right;
    margin-top: 9px;
    width: 76%;
}
.form-horizontal .controls {
    margin-left: 30px;
}

.year_error{
    float: left;
    margin-left: 297px;
    width: 32%;
}
.month_error{
    margin-left: 12px;
    margin-top: -17px;
    text-align: left;
    width: 36%;
}
#resume_gender_female{
  margin-left: 5px;
}
</style>







