<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title><%= content_for?(:title) ? yield(:title) : (Setting.first.site_title || "Joobsbox-Rails") %></title>
  <%= stylesheet_link_tag    "joobsbox/global.css", :media => "screen" %>
  <%= stylesheet_link_tag    "joobsbox/login.css", :media => "screen" %>
</head>
<body>
	<div id="wrapper">
          
		<div id="joobsbox-main">

                  <%= render("shared/flashes") %>
                  <%= yield %>
			
			<div id="joobsbox-license">
				powered by <a href="http://www.pramati.com" rel="external" target="_blank">pramati</a> 
			</div>
		</div>
	</div>
  <%= javascript_include_tag "js/lib/jquery.js" %>
	
<script type="text/javascript" charset="UTF-8">
    //<![CDATA[
var translateHash={"Search doesn't work because Joobsbox\/SearchIndexes doesn't have write permissions. Please allow the server to write to that folder!":"Search doesn't work because Joobsbox\/SearchIndexes doesn't have write permissions. Please allow the server to write to that folder!"};    //]]>
</script>

<%= javascript_include_tag "js/functions.js" %>
<%= javascript_include_tag "joobsbox/login.js" %>
<%= javascript_include_tag "js/lib/jquery.corner.js" %>
<%= javascript_include_tag "js/lib/jquery.pngFix.pack.js" %>
<%= javascript_include_tag "js/global.js" %>

</body>
</html>
