<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title><%= content_for?(:title) ? yield(:title) : (Setting.first.site_title || "Joobsbox-Rails") %></title>
  <%= stylesheet_link_tag    "joobsbox/global.css", :media => "screen" %>
  <%#= stylesheet_link_tag    "joobsbox/login.css", :media => "screen" %>
<%= stylesheet_link_tag    "#{session[:theme]}/bootstrap.css", :media => "all" %>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <%= render('shared/navbar_tabs') %>
    </div>
    <div class="container-fluid">
      <%= render("shared/flashes") %>
      <div class="row-fluid">
        <%= yield %>
        <div class="span4">
          <h2>Ads</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
      <hr/>
      <footer>
        <p>Subscribe to the full <%= link_to "RSS Feed", jobs_url(:format => "rss") %> and be notified when new jobs are posted.</p>
        <p>&copy; Pramati 2013</p>
      </footer>
    </div>



<%= javascript_include_tag "js/functions.js" %>
<%= javascript_include_tag "joobsbox/login.js" %>
<%= javascript_include_tag "js/lib/jquery.corner.js" %>
<%= javascript_include_tag "js/lib/jquery.pngFix.pack.js" %>
<%= javascript_include_tag "js/global.js" %>
  <%= javascript_include_tag "admin/users/bootstrap.js" %>




   
    <%= render('shared/login') %>

</body>
</html>

<!--<div id="wrapper">

		<div id="joobsbox-main">

                  <%#= render("shared/flashes") %>
                  <%#= yield %>

			<div id="joobsbox-license">
				powered by <a href="http://www.pramati.com" rel="external" target="_blank">pramati</a>
			</div>
		</div>
	</div>-->